.label {
    -fx-text-fill: #000000;
}

.list-cell {
    -fx-background-color: #d3d3d3;
    -fx-border-width: 2;
    -fx-border-color: #8a8a8a;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-text-color: #ffffff;
    -fx-wrap-text: true;
}

.list-cell:empty {
    -fx-background-color: #d3d3d3;
    -fx-border-color: #d3d3d3;
}

.list-cell:hover {
    -fx-background-color: #a9a9a9;
    -fx-cursor: hand;
}

.list-view .scroll-bar:horizontal {
    -fx-scale-y: 0;
}

.button {
    -fx-background-color: linear-gradient(#cbe5f8 0%, #d8ecf9 100%);
    -fx-border-width: 2;
    -fx-border-color: #71acd6;
}

.button:hover {
    -fx-background-color: #71acd6;
}

.menubar {
    -fx-background-color: linear-gradient(#d0d0d0 0%, #d7d7d7 100%);
    -fx-border-width: 2;
    -fx-border-color: #8a8a8a;
    -fx-spacing: 1;
}