.vbox {
    -fx-alignment: center;
    -fx-spacing: 100;
    -fx-background-color: linear-gradient(#C8C8C8 0%, #D0D0D0 25%, #D3D3D3 50%, #D8D8D8 75%, #DCDCDC 100%);
    -fx-border-width: 50;
    -fx-border-color: linear-gradient(#C8C8C8 0%, #D0D0D0 25%, #D3D3D3 50%, #D8D8D8 75%, #DCDCDC 100%);

}

.hbox {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.text {
    -fx-font-weight: bold;
}

.button {
    -fx-background-color: #000000;
    -fx-text-fill: #F0F0F0;
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, #ffffff, 10, 0.5, 1, 1);
    -fx-background-color: #606060;
}