.side-pane {
    -fx-vgap: 30;
    -fx-alignment: top-center;
    -fx-padding: 25;
}
.center-pane{
	-fx-border-color: #000000;
	-fx-border-width: 4;
	-fx-alignment: top-center;
}

.level-creator{
	-fx-background-color: #878888;
	-fx-padding: 30;
	-fx-spacing: 10;
	-fx-alignment: center;
}